<main class="main">
    <section class="section banner banner-section">
       <div class="container banner-column">
          <img class="banner-image" src="https://i.ibb.co/vB5LTFG/Headphone.png" alt="banner">
          <div class="banner-inner">
             <h1 class="heading-xl">From Coding to Cybersecurity</h1>
             <p class="paragraph">
                Experience the thrill of the attack with our innovative solutions that 
                push the boundaries of what's possible in offensive cybersecurity.
             </p>
             <button class="btn btn-darken btn-inline">
                Explore <i class="bx bx-right-arrow-alt"></i>
             </button>
          </div>
          <div class="banner-links">
             <a href="#" title=""><i class="bx bxl-facebook"></i></a>
             <a href="#" title=""><i class="bx bxl-instagram"></i></a>
             <a href="#" title=""><i class="bx bxl-twitter"></i></a>
             <a href="#" title=""><i class="bx bxl-youtube"></i></a>
          </div>
       </div>
    </section>
 </main>