/* FEATURED */

:root {	
    --clr-1: #00c2ff;
	--clr-2: #33ff8c;
	--clr-3: #ffc640;
	--clr-4: #e54cff;
}

#featured  {
    width: 100%;
    height: 720px;
    position: relative;
    overflow: hidden;
}
#featured  .header-container {
    padding: 10% 0;
    padding-top: 20em;
}
#featured .header-container .small {
    color: #ffffff;
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    margin: 0 0 14px 0;
    font-weight: 100;
}
#featured .header-container .large {
    width: 500px;
    font-size: 2rem;
    color: #ffffff;
    margin: 0 0 32px 0;
    font-weight: 100;
} 
#featured .header-container .large span {
    font-weight: bold;
} 
#featured .header-container form {
    display: flex;
    align-items: center;
}
#featured .header-container form input {
    width: 500px;
    padding: 20px 15px;
    border-radius: 45px;
    border: none;
    outline: none;
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    text-indent: 15px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1);
    background: #0c0f13;
}
#featured .header-container form button {
    width: 50px;
    height: 50px;
    border: none;
    background: #080a0c;
    border-radius: 100%;
    margin-left: -57px;
    cursor: pointer;
    background-size: 200% auto;
    transition: 0.8s;
}
#featured .header-container form button:hover {
    background-color: #0c0f13;
}

#featured .header-container form button svg {
    width: 20px;
    fill: white;
    margin: auto;
    margin-top: 4px;
}
.special-text {
    animation: move 2s linear infinite;
    background-image: linear-gradient(to right, #77f, #33d0ff, #25ffbb, #33d0ff, #77f);
    background-size: 200% auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
@keyframes move {
    to {
        background-position: 200% center;
   }
}
























/* CONTENT */
#main-content .small {
    color: #ffffff;
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    margin: 0 0 14px 0;
    font-weight: 100;
}
#main-content {
  display: flex;
}

#sidebar {
  width: 25%; /* Adjust the width as per your needs */
}

.side-content {
  width: 75%; /* Adjust the width as per your needs */
}

/* Additional styling for the sidebar */
#sidebar h2 {
  margin-top: 0;
  color: #ffffff;
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
  font-weight: 100;
}

#sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#sidebar li {
  margin-bottom: 0.5rem;
}

/* Additional styling for the content */
.side-content h2.small {
  margin-top: 0;
}

.post-snippet {
  margin-bottom: 2rem;
}

.tags {
  margin-bottom: 0.5rem;
}

.tag {
  margin-right: 0.5rem;
}

.description {
  margin-bottom: 0.5rem;
}

.pagination {
  display: flex;
  list-style: none;
  border-radius: .25rem;
  margin: 20px 0;
  padding: 0;
  justify-content: center;
}

.page-link {
  position: relative;
  display: block;
  padding: .75rem 1rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #007bff;
  background-color: #fff;
  border: 1px solid #dee2e6;
}

.homepage .page-link,
.listing .page-link {
  background-color: #fff;
}

.page-item.disabled .page-link {
  color: #6c757d;
  pointer-events: none;
  cursor: auto;
  background-color: #fff;
  border-color: #dee2e6;
}

.page-item.active .page-link {
  z-index: 1;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}















/* RESPONSIVE DESIGN */
@media (max-width: 1024px){
    #featured .header-container .small{
        font-weight: 700;
    }
    #main-content .small {
        font-weight: 700;
    }
}
@media (max-width: 780px){

}

@media (max-width: 768px) {

}

@media (max-width: 660px) {

}
@media (max-width: 540px) {
    #featured .header-container form input {
        width: 100%;
    }
}
@media (max-width: 480px) {
    #featured .header-container .large{
        width: auto;
        font: 1.5rem;
    }
}
@media (max-width: 450px) {

  }
@media (max-width: 425px) {

}
@media (max-width: 330px){

}

