/* FEATURED */


:root {	
    --clr-1: #00c2ff;
	--clr-2: #33ff8c;
	--clr-3: #ffc640;
	--clr-4: #e54cff;
}

#featured  {
    position: relative;
    overflow: hidden;
    margin-bottom: 90px;
}
#featured  .header-container {
    padding-top: 20em;
    margin-bottom: 40px;
}
#featured .header-container .small {
    color: #ffffff;
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    margin: 0 0 14px 0;
    font-weight: 100;
}
#featured .header-container .large {
    width: 500px;
    font-size: 2rem;
    color: #ffffff;
    margin: 0 0 32px 0;
    font-weight: 100;
} 
#featured .header-container .large span {
    font-weight: bold;
} 
#featured .header-container form {
    display: flex;
    align-items: center;
}
#featured .header-container form input {
    width: 500px;
    padding: 20px 15px;
    border-radius: 45px;
    border: none;
    outline: none;
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    text-indent: 15px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1);
    background: #0c0f13;
}


#featured .header-container form button {
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 100%;
    margin-left: -57px;
    cursor: auto;
    background-size: 200% auto;
    transition: 0.8s;
}


#featured .header-container form button svg {
    width: 20px;
    fill: white;
    margin: auto;
    margin-top: 4px;
}
#featured .header-container form button i {
  color: white;
  font-size: 24px;
  margin-top: 4px;
}

.special-text {
    animation: move 2s linear infinite;
    background-image: linear-gradient(to right, #77f, #33d0ff, #25ffbb, #33d0ff, #77f);
    background-size: 200% auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
@keyframes move {
    to {
        background-position: 200% center;
   }
}

#search .pagefind-ui .pagefind-ui__form .pagefind-ui__search-input {
  transition: 0.3s ease;
}
#search .pagefind-ui .pagefind-ui__form .pagefind-ui__search-input:focus {
  
}

#search .pagefind-ui .pagefind-ui__form .pagefind-ui .pagefind-ui__drawer{

}








































/* CONTENT */
#main-content {
  margin-bottom: 40px;
}

#main-content .small {
    color: #ffffff;
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    margin: 0 0 14px 0;
    font-weight: 100;
}
.side-content{
  margin-bottom: 40px;
}


/* Additional styling for the sidebar */


.pagination {
  display: flex;
  list-style: none;
  border-radius: .25rem;
  margin: 20px 0;
  padding: 0;
  justify-content: center;
}

.page-link {
  position: relative;
  display: block;
  padding: .75rem 1rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #fff;
  border: 2px solid #0c0f13;
  transition: 0.6s;
}
.page-link:hover{
  background-color: #0c0f13;
}

.homepage .page-link,
.listing .page-link {
  background-color: #fff;
}

.page-item.disabled .page-link {
  color: #6c757d;
  pointer-events: none;
  cursor: auto;
  background-color: #fff;
  border-color: #dee2e6;
}

.page-item.active .page-link {
  z-index: 1;
  color: #fff;
  background-color: #0c0f13;
}
.page-item.active .page-link:hover {
  background-color: transparent;
}


.blg-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.blg-card{
  overflow: hidden;
  background: #0c0f13;
  border-radius: 0.5rem;
  position: relative;
  width: 350px;
  margin: 1rem;
  transition: 250ms all ease-in-out;
  cursor: pointer;
}

.blg-card:hover {
  transform: scale(1.05);
  box-shadow: 0px 14px 30px #000;
}

.blg-banner-img {
  position: absolute;
  object-fit: cover;
  height: 14rem;
  width: 100%;
  transition: 0.6s;
}
.blg-banner-img:hover{
  opacity: 0.6;
}


.category-tag {
  font-size: 0.8rem;
  font-weight: bold;
  
  padding: 0.5rem 1.3rem 0.5rem 1rem;
  text-transform: uppercase;
  position: absolute;
  z-index: 1;
  top: 1rem;
  border-radius: 0 4px 4px 0;
}

.popular {
  background: #0c0f13;
}
.popular a {
  color: #fff;
}
.popular a:hover {
  color: #c7c7c7;
}


.blg-card-body {
  margin: 15rem 1rem 1rem 1rem;
}

.blog-hashtag {
  font-size: 0.9rem;
  font-weight: 500;
}
.blog-hashtag a{
  color: var(--clr-1);
}
.blog-hashtag a:hover{
  color: #9ce8ff;
}

.blog-title {
  line-height: 1.5rem;
  margin: 1rem 0 0.5rem;
  font-size: x-large;
}
.blog-title a {
  color: white;
}
.blog-title a:hover {
  color: #c7c7c7;
}

.blog-description {
  color: #616b74;
  font-size: 0.9rem;
}

.blg-card-profile {
  display: flex;
  margin-top: 2rem;
  align-items: center;
}

.profile-img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
  transition: 0.5s;
}
.profile-img:hover{
  opacity: 0.6;
}

.blg-card-profile-info {
  margin-left: 1rem;
}

.profile-name {
  font-size: 1rem;
}

.profile-name a {
  color: white;
}
.profile-name a:hover {
  color: #c7c7c7;
}


.profile-followers {
  color: #616b74;
  font-size: 0.9rem;
}





#sidebar {
  background: #0c0f13;
  justify-content: center;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
}

.sub .sub__title {
  font-size: 24px;
  font-weight: 900;
  margin-bottom: 8px;
}
.sub .sub__content{
  color: #616b74;
  font-size: 0.9rem;
  margin-bottom: 4px;
}
.sub .sub__form input{
    display: block;
    width: 100%;
    margin-bottom: 14px;
}

.sidebar-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align text to the left */
}

.sidebar-container h2 {
  margin-bottom: 10px; /* Add some space below the heading */
}

.grecaptcha-badge{
  display: none;
}




































































/* RESPONSIVE DESIGN */
@media (max-width: 1400px){
  .blg-card {
    margin: 1rem 1rem 1rem 0; 
  }
}
@media (max-width: 1200px){
  .blg-card {
    width: calc(48% );
  }
}



@media (max-width: 1024px){
    #featured .header-container .small{
        font-weight: 700;
    }
    #main-content .small {
        font-weight: 700;
    }
}

@media (max-width: 840px) {
  .blg-card {
    width: calc(100%);
  }
  .blg-card {
    margin: 1rem 0.5rem;
  }
}

@media (max-width: 660px) {

}
@media (max-width: 540px) {
    #featured .header-container form input {
        width: 100%;
    }
}
@media (max-width: 480px) {
    #featured .header-container .large{
        width: auto;
        font: 1.5rem;
    }
}
@media (max-width: 450px) {

  }
@media (max-width: 425px) {

}
@media (max-width: 330px){

}

