/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap");


/* COMPONENTS */
:root {
	--color-white-100: #fff;
	--color-white-200: #e4e6e7;
	--color-white-300: #c9cccf;
	--color-white-400: #a1a6aa;
	--color-white-500: #798086;
	--color-black-100: #14191f;
	--color-black-200: #101419;
	--color-black-300: #0c0f13;
	--color-black-400: #0c0f13;
	--color-black-500: #080a0c;
	--color-black-600: #060709;
	--color-black-700: #040506;
	--color-black-800: #020303;
	--color-blue-100: #dcebfe;
	--color-blue-200: #bedbfe;
	--color-blue-300: #91c3fd;
	--color-blue-400: #61a6fa;
	--color-blue-500: #3c83f6;
	--color-blue-600: #2463eb;
	--color-blue-700: #1d4fd7;
	--color-blue-800: #1e3fae;
	--color-blue-900: #1e3b8a;
	--shadow-small: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
	--shadow-medium: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
	--shadow-large: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
	--bg: #000000;
	--clr-1: #00c2ff;
	--clr-2: #33ff8c;
	--clr-3: #ffc640;
	--clr-4: #e54cff; 
	--blur: 1rem;
	--fs: clamp(8rem, 8vw, 7rem);
	--fr: clamp(4rem, 8vw, 7rem);
	--ls: clamp(-1.75px, -0.25vw, -3.5px);
	--gutter: clamp(1ch, 2.5vmax, 3ch);
	--stack: clamp(1.25ex, 2.5vmax, 1.75ex);
	--line-length: 70ch;
	--page-padding-inline: calc((100vw - min(90rem, 100vw - var(--gutter) * 3)) / 2);
	--section-spacing: clamp(var(--stack) * 4, 10vmax, var(--stack) * 6);
}

*, *::before, *::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	list-style: none;
	list-style-type: none;
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}


.title-xl {
	font-family: inherit;
	font-size: clamp(2.648rem, 6vw, 4.241rem);
	font-weight: 700;
	line-height: 1.15;
	letter-spacing: -1px;
	position: relative;
	overflow: hidden;
	margin: 0;
  }


.grad-text {
	animation: move 4s linear infinite;
	background-image: linear-gradient(to right, #77f, #33d0ff, #25ffbb, #33d0ff, #77f);
	background-size: 200% auto;
	font: 700 70px/1 Helvetica;
	letter-spacing: 1px;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
@keyframes move { to { 
	background-position: 200% center; 
} 
}

.fade {
	opacity: 0;
	transform: translateY(50px); /* Initial position below the viewport */
	transition: opacity 1s ease-in-out, transform 0.5s ease-in-out;
  }
  
  .fade.visible {
	opacity: 1;
	transform: translateY(0); /* Move the element to its original position */
  }
  
/* HTML element you want to apply the fade-in animation to */
.fade-in {
	opacity: 0; /* Set initial opacity to 0 */
	animation: fade 1s ease-in forwards; /* Apply the fade animation */
  }
  
  /* Keyframes for the fade animation */
  @keyframes fade {
	from {
	  opacity: 0; /* Start with opacity 0 */
	}
	to {
	  opacity: 1; /* End with opacity 1 */
	}
  }
.topmargin {
	margin-top: 4rem;
}  








































/* NAVIGATION */


 html {
	 box-sizing: inherit;
	 scroll-behavior: smooth;
}
 body {
	 font-family: "Rubik", sans-serif;
	 font-size: clamp(1rem, 2vw, 1.125rem);
	 font-weight: 400;
	 line-height: 1.5;
	 color: var(--color-white-100);
	 background-color: var(--color-black-500);
}
.main{
	height: 100vh;
}

@media (max-width: 768px) {
	.main {
		height: auto;
	}
	.scroll-indicator{
		display: none;
	}
  }
  
  /* Styles for screens between 769px and 1024px */
  @media (min-width: 769px) and (max-width: 1024px) {
	.main {
		height: auto;
	}
	.scroll-indicator{
		display: none;
	}
  }
  


 a, button {
	 cursor: pointer;
	 border: none;
	 outline: none;
	 user-select: none;
	 background: none;
	 box-shadow: none;
	 text-decoration: none;
}
 img, video {
	 display: block;
	 max-width: 100%;
	 height: auto;
	 object-fit: cover;
}
 .section {
	 margin: 0 auto;
	 padding: 6rem 0 1rem;
}
 .container {
	 max-width: 75rem;
	 height: auto;
	 margin: 0 auto;
	 padding: 0;
}
@media (max-width: 769px){
	.container{
		padding: 0 1rem;
	}
}
@media (max-width: 1248px){
	.container{
		padding: 0 1.25rem;
	}
}


@media (min-width: 769px) and (max-width: 1024px){

}

 .centered {
	 text-align: center;
	 vertical-align: middle;
	 margin-bottom: 1rem;
}
 .heading-xl {
	 font-family: inherit;
	 font-size: clamp(2.648rem, 6vw, 4.241rem);
	 font-weight: 700;
	 line-height: 1.15;
	 letter-spacing: -1px;
}
 .heading-lg {
	 font-family: inherit;
	 font-size: clamp(2.179rem, 5vw, 3.176rem);
	 font-weight: 700;
	 line-height: 1.15;
	 letter-spacing: -1px;
}
 .heading-md {
	 font-family: inherit;
	 font-size: clamp(1.794rem, 4vw, 2.379rem);
	 font-weight: 700;
	 line-height: 1.25;
	 letter-spacing: -1px;
}
 .heading-sm {
	 font-family: inherit;
	 font-size: clamp(1.476rem, 3vw, 1.782rem);
	 font-weight: 600;
	 line-height: 1.5;
}
 .heading-xs {
	 font-family: inherit;
	 font-size: clamp(1.215rem, 2vw, 1.335rem);
	 font-weight: 500;
	 line-height: 1.5;
}
 .paragraph {
	 font-family: inherit;
	 font-size: clamp(1rem, 2vw, 1.125rem);
	 line-height: inherit;
	 max-width: 95%;
	 height: auto;
	 text-transform: unset;
	 color: var(--color-white-200);
}
 .btn {
	 display: inline-block;
	 font-family: inherit;
	 font-size: 1rem;
	 font-weight: 500;
	 line-height: 1.5;
	 text-align: center;
	 vertical-align: middle;
	 white-space: nowrap;
	 user-select: none;
	 outline: none;
	 border: none;
	 border-radius: 0.25rem;
	 text-transform: unset;
	 transition: all 0.3s ease-in-out;
}
 .btn-inline {
	 display: inline-flex;
	 align-items: center;
	 justify-content: center;
	 column-gap: 0.5rem;
}
 .btn-darken {
	 padding: 0.75rem 2rem;
	 color: var(--color-white-100);
	 background-color: var(--color-black-100);
	 box-shadow: var(--shadow-medium);
}
.btn-darken a {
	color: var(--color-white-100);
}
.btn-darken:hover{
	background-color: var(--color-black-200);
}

 .btn-neutral {
	 padding: 0.75rem 2rem;
	 color: var(--color-black-500);
	 background-color: var(--color-white-100);
	 box-shadow: var(--shadow-medium);
}
 .header {
	 position: fixed;
	 top: 0;
	 left: 0;
	 z-index: 100;
	 width: 100%;
	 height: auto;
	 margin: 0 auto;
	 transition: all 0.35s ease;
}
 .header.on-scroll {
	 background: var(--color-black-300);
	 box-shadow: var(--shadow-medium);
}
 .navbar {
	 display: flex;
	 flex-direction: row;
	 align-items: center;
	 justify-content: flex-start;
	 column-gap: 1.25rem;
	 width: 100%;
	 height: 4.25rem;
	 margin: 0 auto;
}
 .brand {
	 font-family: inherit;
	 font-size: 1.6rem;
	 font-weight: 600;
	 line-height: 1.5;
	 letter-spacing: -1px;
	 color: var(--color-white-100);
	 text-transform: uppercase;
}
 .menu {
	 position: fixed;
	 top: -100%;
	 left: 0;
	 width: 100%;
	 height: auto;
	 padding: 4rem 0 3rem;
	 overflow: hidden;
	 background-color: var(--color-black-300);
	 box-shadow: var(--shadow-medium);
	 transition: all 0.4s ease-in-out;
}
 .menu.is-active {
	 top: 0;
	 width: 100%;
	 height: auto;
}
 .menu-inner {
	 display: flex;
	 flex-direction: column;
	 justify-content: center;
	 align-items: center;
	 row-gap: 1.25rem;
	 
}
 .menu-link {
	 font-family: inherit;
	 font-size: 1rem;
	 font-weight: 500;
	 line-height: 1.5;
	 color: var(--color-white-100);
	 text-transform: uppercase;
	 transition: all 0.3s ease;
}


.menu-link {
	position: relative;
	display: inline-block;
	padding-bottom: 6px;
  }
  
  .menu-link::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 2px;
	background-color: var(--color-blue-600);
	transform: scaleX(0);
	opacity: 0;
	transition: transform 0.3s ease, opacity 0.3s ease;
  }
  
  .menu-link:hover::after {
	transform: scaleX(1);
	opacity: 1;
  }
  



 .menu-block {
	 display: inline-block;
	 font-family: inherit;
	 font-size: 0.875rem;
	 font-weight: 500;
	 line-height: 1.25;
	 user-select: none;
	 white-space: nowrap;
	 text-align: center;
	 margin-left: auto;
	 padding: 0.65rem 1.5rem;
	 border-radius: 3rem;
	 text-transform: capitalize;
	 color: var(--color-white);
	 background-color: var(--color-blue-600);
	 box-shadow: var(--shadow-medium);
	 transition: all 0.3s ease-in-out;
}
.menu-block:hover {
	background-color: var(--color-blue-800);
}


.menu-item {
	text-transform: uppercase;
}




 @media only screen and (min-width: 48rem) {
	 .menu {
		 position: relative;
		 top: 0;
		 width: auto;
		 height: auto;
		 padding: 0rem;
		 margin-left: auto;
		 background: none;
		 box-shadow: none;
	}
	 .menu-inner {
		 display: flex;
		 flex-direction: row;
		 column-gap: 2rem;
		 margin: 0 auto;
	}
	 .menu-link {
		 text-transform: capitalize;
	}
	 .menu-block {
		 margin-left: 2rem;
	}
}
 .burger {
	 position: relative;
	 display: block;
	 cursor: pointer;
	 user-select: none;
	 order: -1;
	 z-index: 10;
	 width: 1.6rem;
	 height: 1.15rem;
	 border: none;
	 outline: none;
	 background: none;
	 visibility: visible;
	 transform: rotate(0deg);
	 transition: 0.35s ease;
}
 @media only screen and (min-width: 48rem) {
	 .burger {
		 display: none;
		 visibility: hidden;
	}
}
 .burger-line {
	 position: absolute;
	 display: block;
	 left: 0;
	 width: 100%;
	 height: 1.75px;
	 border: none;
	 outline: none;
	 opacity: 1;
	 transform: rotate(0deg);
	 background-color: var(--color-white-100);
	 transition: 0.25s ease-in-out;
}
 .burger-line:nth-child(1) {
	 top: 0px;
}
 .burger-line:nth-child(2) {
	 top: 0.5rem;
	 width: 70%;
}
 .burger-line:nth-child(3) {
	 top: 1rem;
}
 .burger.is-active .burger-line:nth-child(1) {
	 top: 0.5rem;
	 transform: rotate(135deg);
}
 .burger.is-active .burger-line:nth-child(2) {
	 opacity: 0;
	 visibility: hidden;
}
 .burger.is-active .burger-line:nth-child(3) {
	 top: 0.5rem;
	 transform: rotate(-135deg);
}
 .banner-column {
	 position: relative;
	 display: grid;
	 align-items: center;
	 row-gap: 3rem;
}
 @media only screen and (min-width: 48rem) {
	 .banner-column {
		 grid-template-columns: repeat(2, minmax(0, 1fr));
		 justify-content: center;
	}
}
 @media only screen and (min-width: 64rem) {
	 .banner-column {
		 grid-template-columns: 1fr max-content;
		 column-gap: 4rem;
		 margin-top: 10rem;
	}
}
 .banner-image {
	 display: block;
	 max-width: 18rem;
	 height: auto;
	 margin-top: 2rem;
	 object-fit: cover;
	 justify-self: center;
}
 @media only screen and (min-width: 48rem) {
	 .banner-image {
		 order: 1;
		 max-width: 20rem;
		 height: auto;
	}
}
 @media only screen and (min-width: 64rem) {
	 .banner-image {
		 max-width: 25rem;
		 height: auto;
		 margin-right: 5rem;
	}
}
 .banner-inner {
	 display: flex;
	 flex-direction: column;
	 align-items: flex-start;
	 row-gap: 1.75rem;
}
 .banner-links {
	 position: absolute;
	 top: 30%;
	 right: 1.5rem;
	 display: grid;
	 justify-items: center;
	 row-gap: 0.5rem;
	 opacity: 0;
	 visibility: hidden;
}
 @media only screen and (min-width: 64rem) {
	 .banner-links {
		 opacity: 1;
		 visibility: visible;
	}
}
 .banner-links > * {
	 font-size: 1.25rem;
	 line-height: 1.25;
	 color: var(--color-white-100);
}

.banner-links > *:hover {
	color: #b3b3b3; /* Update with the desired hover color */
}

 .banner-links::before {
	 position: absolute;
	 content: "";
	 top: -3rem;
	 width: 4rem;
	 height: 1.5px;
	 transform: rotate(90deg);
	 background: var(--color-white-100);
}
 .banner-links::after {
	 position: absolute;
	 content: "";
	 bottom: -3rem;
	 width: 4rem;
	 height: 2px;
	 transform: rotate(90deg);
	 background: var(--color-white-100);
}

  
.content {
	margin-bottom: 4rem;
  }



.scroll-indicator {
	position: absolute;
	left: 50%;
	bottom: 20px;
	transform: translateX(-50%);
	width: 30px;
	height: 30px;
	animation: scrollIndicator 1s infinite alternate;
  }
  
  .scroll-indicator::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) rotate(45deg);
	width: 10px;
	height: 10px;
	border-right: 2px solid #fff;
	border-bottom: 2px solid #fff;
  }
  
  @keyframes scrollIndicator {
	0% {
	  opacity: 0;
	}
	100% {
	  opacity: 1;
	  transform: translateX(-50%) translateY(5px);
	}
  }
  


















































































/* SCROLL */
.scroll-icon {
	position: fixed;
	bottom: 30px;
	right: 30px;
	background-color: var(--color-black-100);
	color: #fff;
	width: 50px;
	height: 50px;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	opacity: 0.7;
	transition: opacity 0.3s ease-in-out;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
	display: none;
  }
  .scroll-icon:hover{
	background-color: var(--color-black-200);
  }

  .scroll-icon i {
	font-size: 24px;
  }
  
@media (max-width: 768px) {
	.scroll-indicator {
	  bottom: 10px;
	}
  }
 



































  /* ABOUT ME SECTION */
.aboutme {
	display: flex;
	flex-direction: column; /* stack items vertically */
	align-items: flex-start; /* align items to the left */
	justify-content: center; /* vertically center the content */
	height: 90vh; /* set the height to 100% of the viewport height */
  }
  
  .h1 {
	margin-bottom: 10px; /* add bottom margin for spacing */
  }

  .margintop{
	margin-top: 40px;
  }

.aboutme .h1 {
	font-size: 12em;
	background-image: url("/assets/img/texture.jpeg");
	color: #fff;
	color: transparent;
	background-size: contain;
	-webkit-background-clip: text;
	filter: drop-shadow(0px -3px 1px rgba(0, 0, 0, 1));
	animation: stripes 5s infinite alternate;
}
.h2{
	font-size: 12em;
	background-image: url("/assets/img/texture.jpeg");
	color: #fff;
	color: transparent;
	background-size: contain;
	-webkit-background-clip: text;
	filter: drop-shadow(0px -3px 1px rgba(0, 0, 0, 1));
	animation: stripes 5s infinite alternate;
}
@keyframes stripes {
	100% {
		background-position: 100px 0, 100px 0, 100px 0;
   }
}

:root {  
	--purple: rgb(123, 31, 162);
	--violet: rgb(103, 58, 183);
	--pink: rgb(244, 143, 177);
  }
  
  
  .magictext {
	color: white;
	font-family: "Rubik", sans-serif;
	margin: 0px;
  }
  
  .magictext > .magic {
	display: inline-block;
	position: relative;
  }
  
  .magictext > .magic > .magic-star {
	--size: clamp(20px, 1.5vw, 30px);
	
	animation: scale 700ms ease forwards;
	display: block;
	height: var(--size);
	left: var(--star-left);
	position: absolute;
	top: var(--star-top);
	width: var(--size);
  }
  
  .magictext > .magic > .magic-star > svg {
	animation: rotate 1000ms linear infinite;
	display: block;
	opacity: 0.7;
  }
  
  .magictext > .magic > .magic-star > svg > path {
	fill: var(--violet);
  }
  
  .magictext > .magic > .magic-text {
	animation: background-pan 3s linear infinite;
	background: linear-gradient(
	  to right,
	  var(--purple),
	  var(--violet),
	  var(--pink),
	  var(--purple)
	);
	background-size: 200%;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	white-space: nowrap;
  }
  

  @keyframes background-pan {
	from {
	  background-position: 0% center;
	}
	
	to {
	  background-position: -200% center;
	}
  }
  
  @keyframes scale {
	from, to {
	  transform: scale(0);
	}
	
	50% {
	  transform: scale(1);
	}
  }
  
  @keyframes rotate {
	from {
	  transform: rotate(0deg);
	}
	
	to {
	  transform: rotate(180deg);
	}
  }
  







@media(max-width: 1024px) {
	.about {
		margin-top: 4rem;
	}
	.aboutme .h1 {
		font-size: 8em;
	}
	 .h2 {
		font-size: 8em;
	}
}
@media(max-width: 768px) {
	.magictext {
		text-align: justify;
	}
	.about p {
		padding: 0 100px;
	}
	.aboutme .h1 {
		font-size: 6em;
	}
	.h2 {
		font-size: 6em;
	}
}
@media(max-width: 472px) {
	.aboutme .h1 {
		font-size: 4em;
	}
	.h2 {
		font-size: 4em;
	}
}








































































/* 404 PAGE */
.pagenotfound {
	min-height: 100vh;
	display: grid;
	place-items: center;
	color: #fff;
	font-family: "Inter", "DM Sans", Arial, sans-serif;
	text-align: center;
  }
  
 .title {
   font-size: var(--fs);
   font-weight: 800;
   letter-spacing: var(--ls);
   position: relative;
   overflow: hidden;
   margin: 0;
 }
 @media (max-width: 769px){
	.title {
		font-size: var(--fr);
	}
 }

 @media(max-width: 1024px){
	.title {
		font-size: var(--fr);
	}

 }


 .aurora {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: 2;
   mix-blend-mode: darken;
   pointer-events: none;
 }
 
 .aurora__item {
   overflow: hidden;
   position: absolute;
   width: 60vw;
   height: 60vw;
   background-color: var(--clr-1);
   border-radius: 37% 29% 27% 27% / 28% 25% 41% 37%;
   filter: blur(var(--blur));
   mix-blend-mode: overlay;
 }
 
 .aurora__item:nth-of-type(1) {
   top: -50%;
   animation: aurora-border 6s ease-in-out infinite,
	 aurora-1 12s ease-in-out infinite alternate;
 }
 
 .aurora__item:nth-of-type(2) {
   background-color: var(--clr-3);
   right: 0;
   top: 0;
   animation: aurora-border 6s ease-in-out infinite,
	 aurora-2 12s ease-in-out infinite alternate;
 }
 
 .aurora__item:nth-of-type(3) {
   background-color: var(--clr-2);
   left: 0;
   bottom: 0;
   animation: aurora-border 6s ease-in-out infinite,
	 aurora-3 8s ease-in-out infinite alternate;
 }
 
 .aurora__item:nth-of-type(4) {
   background-color: var(--clr-4);
   right: 0;
   bottom: -50%;
   animation: aurora-border 6s ease-in-out infinite,
	 aurora-4 24s ease-in-out infinite alternate;
 }
 
 @keyframes aurora-1 {
   0% {
	 top: 0;
	 right: 0;
   }
 
   50% {
	 top: 100%;
	 right: 75%;
   }
 
   75% {
	 top: 100%;
	 right: 25%;
   }
 
   100% {
	 top: 0;
	 right: 0;
   }
 }
 
 @keyframes aurora-2 {
   0% {
	 top: -50%;
	 left: 0%;
   }
 
   60% {
	 top: 100%;
	 left: 75%;
   }
 
   85% {
	 top: 100%;
	 left: 25%;
   }
 
   100% {
	 top: -50%;
	 left: 0%;
   }
 }
 
 @keyframes aurora-3 {
   0% {
	 bottom: 0;
	 left: 0;
   }
 
   40% {
	 bottom: 100%;
	 left: 75%;
   }
 
   65% {
	 bottom: 40%;
	 left: 50%;
   }
 
   100% {
	 bottom: 0;
	 left: 0;
   }
 }
 
 @keyframes aurora-4 {
   0% {
	 bottom: -50%;
	 right: 0;
   }
 
   50% {
	 bottom: 0%;
	 right: 40%;
   }
 
   90% {
	 bottom: 50%;
	 right: 25%;
   }
 
   100% {
	 bottom: -50%;
	 right: 0;
   }
 }
 
 @keyframes aurora-border {
   0% {
	 border-radius: 37% 29% 27% 27% / 28% 25% 41% 37%;
   }
 
   25% {
	 border-radius: 47% 29% 39% 49% / 61% 19% 66% 26%;
   }
 
   50% {
	 border-radius: 57% 23% 47% 72% / 63% 17% 66% 33%;
   }
 
   75% {
	 border-radius: 28% 49% 29% 100% / 93% 20% 64% 25%;
   }
 
   100% {
	 border-radius: 37% 29% 27% 27% / 28% 25% 41% 37%;
   }
 }
 .sub-home {
   color: var(--clr-1);
   text-decoration: none;
   font-weight: bold;
   transition: color 0.3s ease;
 }
 
 .sub-home:hover {
   color: var(--clr-3);
 }
 
  










































 








/* PORTFOLIO */
.hiddenzero {
	opacity: 0;
}
.portfolio-container {
	display: flex;
	flex-direction: column; /* stack items vertically */
	align-items: flex-start; /* align items to the left */
	justify-content: left; /* vertically center the content */
	margin-top: 20%;
  }
  :root{
	--background-dark: #2d3548;
	--text-light: rgba(255,255,255,0.6);
	--text-lighter: rgba(255,255,255,0.9);
	--spacing-s: 8px;
	--spacing-m: 16px;
	--spacing-l: 24px;
	--spacing-xl: 32px;
	--spacing-xxl: 64px;
	--width-container: 1200px;
  }
  
  .portfolio {
	border: 0;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 14px;
  }
  
  .hero-section{
	align-items: flex-start;
	display: flex;
	justify-content: center;
	padding-top: 30px;
	padding-left: 0;
	padding-bottom: 0;
  }

  .margintop-s {
	margin-top: 10px;
  }

  
  .card-grid{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-column-gap: var(--spacing-l);
	grid-row-gap: var(--spacing-l);
	max-width: var(--width-container);
	width: 100%;
  }

  .card{
	list-style: none;
	position: relative;
	border-radius: calc(40 * 1px);   
  }
  
  .card:before{
	content: '';
	display: block;
	padding-bottom: 150%;
	width: 100%;
  }
  
  .card__background{
	background-size: cover;
	background-position: center;
	bottom: 0;
	filter: brightness(0.75) saturate(1.2) contrast(0.85);
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	transform-origin: center;
	trsnsform: scale(1) translateZ(0);
	border-radius: calc(10 * 1px);
	transition: 
	  filter 200ms linear,
	  transform 200ms linear;
	opacity: 60%;
  }
  
  .card:hover .card__background{
	transform: scale(1.05) translateZ(0);
	opacity: 100%;
  }
  
  .card-grid:hover > .card:not(:hover) .card__background{
	filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
  }
  
  .card__content{
	left: 0;
	padding: var(--spacing-l);
	position: absolute;
	top: 0;
  }
  
  .card__category{
	color: var(--text-light);
	font-size: 0.9rem;
	margin-bottom: var(--spacing-s);
	text-transform: uppercase;
  }
  
  .card__heading{
	color: var(--text-lighter);
	font-size: 1.9rem;
	text-shadow: 2px 2px 20px rgba(0,0,0,0.2);
	line-height: 1.4;
	word-spacing: 100vw;
	margin-bottom: 20px;
  }
  .card__url {
	color: white;
	text-decoration: none;
	font-family: inherit;
	font-size: 1rem;
	font-weight: 500;
	line-height: 1.5;
	padding: 0.75rem 2rem;
	background-color: var(--color-blue-600);
	box-shadow: var(--shadow-medium);
	border-radius: 8px;
  }
  .card__url:hover {
	background-color: var(--color-blue-800);
}


@media(max-width: 960px){
	.card-grid{
	  grid-template-columns: repeat(3, 1fr); 
	}

  }
@media(max-width: 780px) {
	.hero-section{
		padding-bottom: 0;
		}
	.card__heading{
		font-size: 1rem;
	}
  }
@media(max-width: 540px){
	.card-grid{
		grid-template-columns: repeat(2, 1fr); 
	  }
	.hero-section{
		margin-top: 20px;
		padding: 0;
		margin-left: 0;
		margin-right: 0;
	}
	.card__category{
		font-size: 12px;
	}
	.card__heading{
		font-size: 18px;
	}
	.card-grid{
	  grid-template-columns: repeat(2, 1fr); 
	}
  }



























  






















  /* SERVICES */



  .service-container {
	display: flex;
	flex-direction: column; /* stack items vertically */
	align-items: flex-start; /* align items to the left */
	justify-content: left; /* vertically center the content */
	margin-top: 30%;
  }  
  .card-grid-s {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-column-gap: var(--spacing-l);
	grid-row-gap: var(--spacing-l);
	max-width: var(--width-container);
	width: 100%;
  }

  .service__card {
	margin-top: 30px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
    padding: 32px;
    overflow: hidden;
    border-radius: 15px;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
  }

  .service__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    color: #e8e8e8;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .service__content .service__heading {
    font-weight: 700;
    font-size: 32px;
  }
  
  .service__content .service__para {
    line-height: 1.5;
  }
  
  .service__card::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5px;
    background: linear-gradient(-45deg, #00c2ff 0%, #33ff8c 25%, #ffc640 50%, #fff 75%, #e54cff 100%);
    z-index: -1;
  }
  .service__card:hover {
	opacity: 50%;
  }
  
  @media screen and (max-width: 1024px) {
	.card-grid-s {
		grid-template-columns: repeat(2, 1fr);}
  }
  @media screen and (max-width: 568px) {
	.card-grid-s {
		grid-template-columns: repeat(1, 1fr);
	}
  }	























/* FOOTER */


.footer {
	background-color: #080a0c;
	margin-bottom:20px ;
  }
  
.footer-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 10px;
	margin-bottom: 40px;
  }
  
  .leftside{
	text-align: left;
  }
  .leftside a{
	color: var(--color-white-100);
  }
  .leftside a:hover{
	color: #b3b3b3;
  }
  .center{
	flex-grow: 1;
	text-align: center;
	margin-top: 40px;
  }
  .rightside {
	text-align: right;
  }
  
  .leftside p,
  .rightside p {
	color: #fff;
	font-family: 'Titillium Web', sans-serif;
	margin: 0;
  }
  .social-icon a {
	color: var(--color-white-100);
	margin-left: 6px;
	font-size: 24px;
  }

  .social-icon > *:hover {
	color: #b3b3b3; /* Update with the desired hover color */
}

@media (max-width: 769px) and (max-width: 1024px){
	.rightside h2{
		margin-top: 18px;
	}
}