---
/* Giscus comments component */
---

<section class="giscus-wrapper">
  <script
    is:inline
    src="https://giscus.app/client.js"
    data-repo="rahulsetrakian/rahulsetrakian.github.io"
    data-repo-id="R_kgDOJdaz1g"
    data-category="Comments"
    data-category-id="DIC_kwDOJdaz1s4C0T7j"
    data-mapping="pathname"
    data-strict="0"
    data-reactions-enabled="1"
    data-emit-metadata="0"
    data-input-position="bottom"
    data-theme="light"
    data-lang="en"
    data-loading="lazy"
    crossorigin="anonymous"
    async
  ></script>
</section>
